<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product | Aantara Steel Pvt Ltd</title>

    <!-- 
    - favicon
  -->
    <link rel="shortcut icon" href="../favicon.svg" type="image/svg+xml" />

    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="../assets/css/style.css" />

    <!--
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header style="background-color: #233b77" class="header" data-header>
      <div class="container">
        <h1>
          <a href="../index.html" class="flex-center">
            <div>
              <img
                src="../logo.png"
                alt=""
                style="width: 10rem"
                height="auto"
              />
            </div>

            <div>
              <div class="logo">Aantara Steel</div>
            </div>
          </a>
        </h1>

        <nav class="navbar" data-navbar>
          <div class="navbar-top">
            <a href="#" class="flex-center">
              <div>
                <img
                  src="../logo.png"
                  alt=""
                  style="width: 10rem"
                  height="auto"
                />
              </div>

              <div>
                <div class="logo">Aantara Steel</div>
              </div>
            </a>

            <button
              class="nav-close-btn"
              aria-label="Clsoe menu"
              data-nav-toggler
            >
              <ion-icon name="close-outline"></ion-icon>
            </button>
          </div>

          <ul class="navbar-list">
            <li class="navbar-item">
              <a href="../index.html" class="navbar-link" data-nav-link>
                <span>Home</span>

                <ion-icon name="chevron-forward"></ion-icon>
              </a>
            </li>

            <li class="navbar-item">
              <a href="#about" class="navbar-link" data-nav-link>
                <span>About</span>

                <ion-icon name="chevron-forward"></ion-icon>
              </a>
            </li>

            <li class="navbar-item">
              <a href="../index.html#service" class="navbar-link" data-nav-link>
                <span>Service</span>

                <ion-icon name="chevron-forward"></ion-icon>
              </a>
            </li>

            <li class="navbar-item">
              <a href="#" class="navbar-link" data-nav-link>
                <span>Products for exports</span>

                <ion-icon name="chevron-forward"></ion-icon>
              </a>
            </li>
          </ul>
        </nav>

        <div class="header-contact">
          <div>
            <p class="contact-label">Contact us on</p>

            <a href="tel:+919579896842" class="contact-number"
              >+91 9579896842</a
            >
          </div>

          <div class="contact-icon">
            <ion-icon name="call-outline"></ion-icon>
          </div>
        </div>

        <button class="nav-open-btn" aria-label="Open menu" data-nav-toggler>
          <ion-icon name="menu-outline"></ion-icon>
        </button>

        <div class="overlay" data-nav-toggler data-overlay></div>
      </div>
    </header>

    <div style="height: 15rem"></div>

    <main>
      <section>
        <div
          class="title-wrapper"
          style="display: flex; align-items: center; justify-content: center"
        >
          <div>
            <p class="section-subtitle" style="text-align: center">
              our Products
            </p>

            <h2 class="h2 section-title" style="text-align: center">
              Provides the Best Quality Product
            </h2>
          </div>
        </div>

        <ul class="grid-list" style="margin: 5rem 2rem">
          <li>
            <div class="service-card">
              <div class="card-icon">
                <img
                  src="../assets/images/product imgs/1. fencing wire.jpg"
                  loading="lazy"
                  class="img"
                />
              </div>

              <h3 class="h3 card-title">
                <span class="span">01</span>Fencing wire
              </h3>

              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed id
                officia accusantium consequatur deleniti a saepe voluptatibus
                fugit asperiores explicabo.
              </p>
            </div>
          </li>

          <li>
            <div class="service-card">
              <div class="card-icon">
                <img
                  src="../assets/images/product imgs/2. Rolling shutter spring wire.jpg"
                  loading="lazy"
                  class="img"
                  alt="Ship"
                />
              </div>

              <h3 class="h3 card-title">
                <span class="span">02</span>Rolling shutter spring
              </h3>

              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
                earum officiis exercitationem tempore maxime cumque dolores
                ipsum fugiat veniam minus?
              </p>
            </div>
          </li>

          <li>
            <div class="service-card">
              <div class="card-icon">
                <img
                  src="../assets/images/product imgs/3. Binding wire.jpg"
                  loading="lazy"
                  class="img"
                  alt="Airplane"
                />
              </div>

              <h3 class="h3 card-title">
                <span class="span">03</span>Binding wire
              </h3>

              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
                fugiat aliquam recusandae quis excepturi a, nihil facilis soluta
                exercitationem voluptatem.
              </p>
            </div>
          </li>

          <li>
            <div class="service-card">
              <div class="card-icon">
                <img
                  src="../assets/images/product imgs/4. Rolling shutter guide.jpg"
                  loading="lazy"
                  class="img"
                  alt="Airplane"
                />
              </div>

              <h3 class="h3 card-title">
                <span class="span">04</span>Rolling shutter guide
              </h3>

              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
                fugiat aliquam recusandae quis excepturi a, nihil facilis soluta
                exercitationem voluptatem.
              </p>
            </div>
          </li>

          <li>
            <div class="service-card">
              <div class="card-icon">
                <img
                  src="../assets/images/product imgs/5. Rolling shutter L bracket.jpg"
                  loading="lazy"
                  class="img"
                  alt="Airplane"
                />
              </div>

              <h3 class="h3 card-title">
                <span class="span">05</span>Rolling shutter L bracket
              </h3>

              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
                fugiat aliquam recusandae quis excepturi a, nihil facilis soluta
                exercitationem voluptatem.
              </p>
            </div>
          </li>

          <li>
            <div class="service-card">
              <div class="card-icon">
                <img
                  src="../assets/images/product imgs/6. Galvanised steel strip.jpg"
                  loading="lazy"
                  class="img"
                  alt="Airplane"
                />
              </div>

              <h3 class="h3 card-title">
                <span class="span">06</span>Galvanised steel strip
              </h3>

              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
                fugiat aliquam recusandae quis excepturi a, nihil facilis soluta
                exercitationem voluptatem.
              </p>
            </div>
          </li>

          <li>
            <div class="service-card">
              <div class="card-icon">
                <img
                  src="../assets/images/product imgs/7. Rolling shutter.jpg"
                  loading="lazy"
                  class="img"
                  alt="Airplane"
                />
              </div>

              <h3 class="h3 card-title">
                <span class="span">07</span>Rolling shutter
              </h3>

              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
                fugiat aliquam recusandae quis excepturi a, nihil facilis soluta
                exercitationem voluptatem.
              </p>
            </div>
          </li>

          <li>
            <div class="service-card">
              <div class="card-icon">
                <img
                  src="../assets/images/product imgs/8. Rolling shutter spring wire.jpg"
                  loading="lazy"
                  class="img"
                  alt="Airplane"
                />
              </div>

              <h3 class="h3 card-title">
                <span class="span">08</span>Rolling shutter Spring Wire
              </h3>

              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
                fugiat aliquam recusandae quis excepturi a, nihil facilis soluta
                exercitationem voluptatem.
              </p>
            </div>
          </li>
        </ul>
      </section>
    </main>

    <!-- 
        - #FOOTER
      -->

    <footer class="footer">
      <div class="container">
        <div class="footer-top section">
          <div class="footer-brand">
            <a href="../index.html" class="flex-center">
              <div>
                <img
                  src="../logo.png"
                  alt=""
                  style="width: 10rem"
                  height="auto"
                />
              </div>

              <div>
                <div class="logo">Aantara Steel</div>
              </div>
            </a>

            <p class="footer-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
              voluptatem! Inventore dolores placeat, sit, distinctio repellendus
              obcaecati, quas voluptas accusantium expedita sapiente facilis vel
              modi!
            </p>
          </div>

          <ul class="footer-list">
            <li>
              <p class="footer-list-title">Quick Links</p>
            </li>

            <li>
              <a href="#" class="footer-link">Home</a>
            </li>

            <li>
              <a href="#" class="footer-link">About us</a>
            </li>

            <li>
              <a href="#" class="footer-link">Products</a>
            </li>

            <li>
              <a href="#" class="footer-link">Services</a>
            </li>

            <li>
              <a href="#" class="footer-link">Contact Us</a>
            </li>
          </ul>

          <ul class="footer-list">
            <li>
              <p class="footer-list-title">Services</p>
            </li>

            <li>
              <a href="#" class="footer-link">TImely Deliveries</a>
            </li>

            <li>
              <a href="#" class="footer-link">Easy Documents </a>
            </li>

            <li>
              <a href="#" class="footer-link">Premium and superior products</a>
            </li>
          </ul>

          <ul class="footer-list">
            <li>
              <p class="footer-list-title">Products for exports</p>
            </li>

            <li>
              <a href="#" class="footer-link">Rolling shutter guide</a>
            </li>

            <li>
              <a href="#" class="footer-link">Rolling shutter</a>
            </li>

            <li>
              <a href="#" class="footer-link">Binding wire</a>
            </li>
          </ul>
        </div>

        <div class="footer-bottom">
          <p class="copyright">
            &copy; 2025 Aantara Steel Pvt Ltd . All Rights Reserved by
            <a href="#" class="copyright-link">Aantara steels </a>
          </p>
        </div>
      </div>
    </footer>

    <script src="../assets/js/script.js" defer></script>
    <script src="../assets/js/animation.js" defer></script>

    <!-- 
    - ionicon link
  -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
